<template>
  <v-card>
    <v-card-title class="text-h5">{{ message }}</v-card-title>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
      <v-btn color="blue darken-1" text @click="confirm">OK</v-btn>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: 'ConfirmDialog',
  props: {
    message: {
      type: String,
      required: true
    },
    close: {
      type: Function,
      required: true
    },
    confirm: {
      type: Function,
      required: true
    }
  }
}
</script>
