<template>
  <v-snackbar v-model="showSnackBar" :timeout="timeout" :color="selectedColor">
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn
          text
          v-bind="attrs"
          @click="showSnackBar = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
<script>
export default {
  name: 'SnackBar',
  props: {
    value: {
      type: Boolean,
      required: true,
    },
    message: {
      type: String,
      required: true
    },
    timeout: {
      type: Number,
      default: 2000
    },
    type: {
      type: String,
      default: 'success'
    },
  },
  data() {
    return {
      showSnackBar: this.value,
      color: {
        success: 'green',
        error: 'red',
        info: 'light-blue',
      },
      selectedColor: ''
    }
  },
  created() {
    this.selectedColor = this.color.success
  },
  watch: {
    value(val) {
      this.showSnackBar = val
    },
    type(val) {
      if (val) {
        this.selectedColor = this.color[val]
      }
    },
    showSnackBar(val) {
      if (!val) {
        this.$emit('hideSnackBar')
      }
    },
    color(val) {
      if (!val) {
        this.$emit('hideSnackBar')
      }
    },
  },
}
</script>
