<template>
  <v-app>
    <v-app-bar
        app
        color="primary"
        dark
    >
    </v-app-bar>
    <v-main>
      <ClientsTable
          :clientsData="clients"
          :providersData="providers"
          @addClientToClientsList="addClientToClientsList"
          @updateClientInClientsList="updateClientInClientsList"
          @showSnackBarMessage="showSnackBarMessage"
      />
      <SnackBar :type="snackBarType" :value="showSnackBar" :message="snackBarMessage"
                @hideSnackBar="showSnackBar = false"/>
    </v-main>
  </v-app>
</template>

<script>
import ClientsTable from './components/ClientsTable';
import SnackBar from './components/shared/SnackBar';

export default {
  name: 'App',
  components: {
    SnackBar,
    ClientsTable,
  },
  data: () => ({
    showSnackBar: false,
    snackBarTimeout: 2000,
    snackBarMessage: '',
    snackBarType: 'success',
    clients: [],
    providers: [],
  }),
  created() {
    this.getClients()
  },
  methods: {
    showSnackBarMessage(obj) {
      this.snackBarMessage = obj.message
      this.snackBarType = obj.type ?? 'success'
      this.showSnackBar = true
    },
    getClients() {
      this.$http.get('clients')
          .then(res => res.json())
          .then(
              res => {
                this.clients = res.clients
                this.providers = res.providers
              },
              err => {
                this.showSnackBarMessage({message: err.body.message, type: 'error'})
              }
          );
    },
    addClientToClientsList(client) {
      this.clients.push(client)
    },
    updateClientInClientsList(client) {
      const index = this.clients.findIndex((c) => c._id === client._id)
      this.clients.splice(index, 1)
      this.clients.push(client)
    },
  }
};
</script>
