<template>
  <div>
    <v-card>
      <v-card-title autofocus>
        <span class="text-h5">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                  v-model="editedClient.name"
                  label="Name"
                  :rules="[rules.required]"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                  v-model="editedClient.email"
                  label="Email"
                  :rules="[rules.required, rules.email]"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                  v-model="editedClient.phone"
                  label="Phone"
                  :rules="[rules.required, rules.phone]"
                  return-masked-value
                  v-mask="'###-###-####'"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-row>
                <v-col cols="7">
                  <v-text-field
                      class="pt-0 mt-1"
                      ref="providerName"
                      v-model="providerName"
                      label="Provider"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="5">
                  <v-btn class="mb-2" @click="saveProvider">
                    {{
                      this.$vuetify.breakpoint.xsOnly ? 'Add' : 'Add Provider'
                    }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0 pa-0" v-for="provider in providersData" :key="provider._id">
                <v-col cols="8" class="ma-0 pa-0">
                  <v-checkbox
                      v-if="!isEditingProvider[provider._id].editing"
                      class="ma-0"
                      :value="provider._id"
                      v-model="selectedProviders"
                      :label="provider.name"
                  ></v-checkbox>
                  <v-text-field
                      v-else
                      class="pt-0 mt-0"
                      v-model="isEditingProvider[provider._id].name"
                      label="Provider"
                  ></v-text-field>
                </v-col>
                <v-col cols="4" class="ma-0 pa-0 pl-1">
                  <div v-if="isEditingProvider[provider._id].editing">
                    <v-icon class="mt-1" @click="updateProvider(provider)">
                      mdi-check
                    </v-icon>
                  </div>
                  <div v-else>
                    <v-icon class="mt-1" @click="showEditProviderField(provider)">
                      mdi-pencil
                    </v-icon>
                    <v-icon class="mt-1" @click="deleteProvider(provider)">
                      mdi-delete
                    </v-icon>
                  </div>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-btn v-if="editedClient._id" color="error" @click="deleteClient">
          {{
            this.$vuetify.breakpoint.xsOnly ? 'Delete' : 'Delete Client'
          }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialogDetails">
          Cancel
        </v-btn>
        <v-btn v-if="!editedClient._id" @click="saveClient" :disabled="!isFormValid">
          {{
            this.$vuetify.breakpoint.xsOnly ? 'Add' : 'Add Client'
          }}
        </v-btn>
        <v-btn v-else @click="updateClient" :disabled="!isFormValid">
          {{
            this.$vuetify.breakpoint.xsOnly ? 'Save' : 'Save Client'
          }}
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-dialog v-model="dialogDeleteProvider" max-width="540px">
      <ConfirmDialog
          message="Are you sure you want to delete this provider?"
          :close="closeDeleteProvider"
          :confirm="deleteProviderConfirm"
      />
    </v-dialog>
  </div>
</template>
<script>
import ConfirmDialog from "./shared/ConfirmDialog";

export default {
  name: 'ClientDetails',
  components: {
    ConfirmDialog
  },
  props: {
    editedClient: {
      type: Object,
      required: true
    },
    formTitle: {
      type: String,
      required: true
    },
    providersData: {
      type: Array,
      required: true
    },
    isFormValid: {
      type: Boolean,
      required: true
    },
  },
  data: () => ({
    providerName: '',
    isEditingProvider: [],
    editedProvider: {},
    editedProviderIndex: -1,
    dialogDeleteProvider: false,
    defaultProvider: {
      name: '',
    },
    selectedProviders: [],
    rules: {
      required: value => !!value || 'Required.',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
      phone: value => {
        const pattern = /^[0-9]{3}[-]?[0-9]{3}[-]?[0-9]{4}$/
        return pattern.test(value) || 'Invalid phone.'
      },
    },
  }),
  created() {
    this.setSelectedProviders()
    this.isEditingProvider = []
    for (let provider of this.providersData) {
      this.isEditingProvider[provider._id] = {
        editing: false,
        name: provider.name
      }
    }
  },
  watch: {
    editedClient() {
      this.setSelectedProviders()
    }
  },
  methods: {
    setSelectedProviders() {
      this.selectedProviders = this.providersData.filter(pd => this.editedClient.providers.map(p => p._id).includes(pd._id)).map(p => p._id)
    },
    setClientProviders() {
      this.editedClient.providers = this.selectedProviders.map((p) => {
        return {
          _id: p
        }
      })
    },
    showEditProviderField(item) {
      this.isEditingProvider[item._id].editing = true
      this.editedProvider = Object.assign({}, item)
      this.$forceUpdate();
    },
    saveProvider() {
      if (!this.providerName) {
        this.$nextTick(() => this.$refs.providerName.focus())
        return;
      }
      this.$http.post('providers', {name: this.providerName})
          .then(res => res.json())
          .then(provider => {
            this.providersData.push(provider)
            this.isEditingProvider[provider._id] = {
              editing: false,
              name: provider.name
            }
            this.providerName = ''
            this.showSnackBarMessage({message: 'Provider saved successfully!'})
          })
    },
    updateProvider(item) {
      const newName = this.isEditingProvider[item._id].name;
      this.$http.patch(`providers/${item._id}`, {
        name: newName
      })
          .then(res => res.json())
          .then(
              () => {
                this.showSnackBarMessage({message: 'Provider updated successfully!'})
                this.isEditingProvider[item._id].editing = false
                const index = this.providersData.indexOf(item)
                this.providersData[index].name = newName
                this.$forceUpdate();
              },
              err => {
                this.showSnackBarMessage({message: err.body.message, type: 'error'})
              }
          );
    },
    deleteProvider(item) {
      this.editedProviderIndex = this.providersData.indexOf(item)
      this.editedProvider = Object.assign({}, item)
      this.dialogDeleteProvider = true
    },
    deleteProviderConfirm() {
      this.$http.delete(`providers/${this.editedProvider._id}`)
          .then(res => res.json())
          .then(
              res => {
                this.providersData.splice(this.editedProviderIndex, 1)
                this.showSnackBarMessage({message: res.message})
              },
              err => {
                this.showSnackBarMessage({message: err.body.message, type: 'error'})
              }
          )
          .finally(() => this.closeDeleteProvider());
    },
    closeDeleteProvider() {
      this.dialogDeleteProvider = false
      this.$nextTick(() => {
        this.editedProvider = Object.assign({}, this.defaultProvider)
        this.editedProviderIndex = -1
      })
    },
    saveClient() {
      this.setClientProviders()
      this.$http.post(`clients`, this.editedClient)
          .then(res => res.json())
          .then(
              res => {
                this.$emit('addClientToClientsList', res)
                this.showSnackBarMessage({message: 'Client saved successfully'})
              },
              err => {
                this.showSnackBarMessage({message: err.body.message, type: 'error'})
              }
          );
    },
    updateClient() {
      this.setClientProviders()
      this.$http.patch(`clients/${this.editedClient._id}`, this.editedClient)
          .then(res => res.json())
          .then(
              () => {
                this.$emit('updateClientInClientsList', this.editedClient)
                this.showSnackBarMessage({message: 'Client updated successfully'})
              },
              err => {
                this.showSnackBarMessage({message: err.body.message, type: 'error'})
              }
          );
    },
    deleteClient() {
      this.$emit('deleteClient', this.editedClient)
    },
    closeDialogDetails() {
      this.$emit('closeDialogDetails')
    },
    showSnackBarMessage(obj) {
      this.$emit('showSnackBarMessage', obj)
    }
  }
}
</script>
