<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-data-table
            :headers="headers"
            :items="clientsData"
            sort-by="name"
            class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Clients</v-toolbar-title>
              <v-divider
                  class="mx-4"
                  inset
                  vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-btn
                  class="mb-2"
                  @click="addClient"
              >
                New Client
              </v-btn>
            </v-toolbar>
          </template>

          <template v-slot:item.actions="{ item }">
            <v-icon class="mr-2" @click="editClient(item)">
              mdi-pencil
            </v-icon>
            <v-icon @click="deleteClient(item)">
              mdi-delete
            </v-icon>
          </template>

          <template v-slot:item.providers="{ item }">
            {{ getProvidersNamesByIds(item.providers) }}
          </template>

          <template v-slot:no-data>
            No data
          </template>

        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDetails" max-width="510px">
      <v-form ref="formClient" v-model="isFormValid">
        <ClientDetails
            :isFormValid="isFormValid"
            :editedClient="editedClient"
            :formTitle="formTitle"
            :providersData="providersData"
            @closeDialogDetails="closeDialogDetails"
            @addClientToClientsList="addClientToClientsList"
            @updateClientInClientsList="updateClientInClientsList"
            @deleteClient="deleteClient"
            @showSnackBarMessage="showSnackBarMessage"
        />
      </v-form>
    </v-dialog>

    <v-dialog v-model="dialogDelete" max-width="510px">
      <ConfirmDialog
          message="Are you sure you want to delete this client?"
          :close="closeDialogs"
          :confirm="deleteClientConfirm"
      />
    </v-dialog>

  </v-container>
</template>

<script>
import ConfirmDialog from "./shared/ConfirmDialog";
import ClientDetails from "./ClientDetails";

export default {
  name: 'ClientsTable',
  components: {ClientDetails, ConfirmDialog},
  props: {
    clientsData: {
      type: Array,
      required: true
    },
    providersData: {
      type: Array,
      required: true
    },
  },
  data: () => ({
    dialogDetails: false,
    dialogDelete: false,
    isFormValid: false,
    headers: [
      {text: 'Name', value: 'name'},
      {text: 'Email', value: 'email'},
      {text: 'Phone', value: 'phone'},
      {text: 'Providers', value: 'providers', sortable: false},
      {text: '', value: 'actions', sortable: false},
    ],
    editedClientIndex: -1,
    editedClient: {
      name: '',
      email: 0,
      phone: 0,
      providers: [],
    },
    defaultClient: {
      name: '',
      email: '',
      phone: '',
      providers: [],
    },
  }),
  watch: {
    dialogDetails() {
      if (this.$refs.formClient) {
        this.$refs.formClient.resetValidation()
      }
    }
  },
  computed: {
    formTitle() {
      return this.editedClientIndex === -1 ? 'New Client' : 'Edit Client'
    },
  },
  methods: {
    getProvidersNamesByIds(providerIds) {
      return this.providersData.filter(item => providerIds.map(item => item._id).includes(item._id)).map(item => item.name).join(', ')
    },
    addClient() {
      this.editedClientIndex = -1
      this.editedClient = Object.assign({}, this.defaultClient)
      this.dialogDetails = true
    },
    addClientToClientsList(client) {
      this.$emit('addClientToClientsList', client)
      this.dialogDetails = false
    },
    updateClientInClientsList(client) {
      this.$emit('updateClientInClientsList', client)
      this.dialogDetails = false
    },
    editClient(item) {
      this.editedClientIndex = this.clientsData.indexOf(item)
      this.editedClient = Object.assign({}, item)
      this.dialogDetails = true
    },
    deleteClient(item) {
      this.editedClientIndex = this.clientsData.indexOf(item)
      this.editedClient = Object.assign({}, item)
      this.dialogDelete = true
    },
    closeDialogDetails() {
      this.dialogDetails = false
      this.$nextTick(() => {
        this.editedClient = Object.assign({}, this.defaultClient)
        this.editedClientIndex = -1
      })
    },
    deleteClientConfirm() {
      this.$http.delete(`clients/${this.editedClient._id}`)
          .then(res => res.json())
          .then(
              res => {
                this.clientsData.splice(this.editedClientIndex, 1)
                this.showSnackBarMessage({message: res.message})
              },
              err => {
                this.showSnackBarMessage({message: err.body.message, type: 'error'})
              }
          )
          .finally(() => this.closeDialogs());
    },
    closeDialogs() {
      this.dialogDelete = false
      this.dialogDetails = false
      this.$nextTick(() => {
        this.editedClient = Object.assign({}, this.defaultClient)
        this.editedClientIndex = -1
      })
    },
    showSnackBarMessage(obj) {
      this.$emit('showSnackBarMessage', obj)
    }
  },
}
</script>

